<meta charset="utf-8" />
<div th:fragment="lista_usuarios" class="content container">
	<div class="row">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header">
					<h4 class="card-title">Lista de Usuarios Cotomar2</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table tablesorter" id="">

							<thead class="text-primary">
								<tr>
									<th>ID</th>
									<th>Nombre</th>
									<th>Apelidos</th>
									<th>Nº Casa</th>
									<th>Correo Electrónico</th>
									<th>Usuario</th>
									<th>Rol</th>
									<th>a</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="u : ${usuarios}">
									<td th:text="${u.getId()}"></td>
									<td th:text="${u.getNombre()}"></td>
									<td th:text="${u.getApellidos()}"></td>
									<td th:text="${u.getNumCasa()}"></td>
									<td th:text="${u.getEmail()}"></td>
									<td th:text="${u.getUserName()}"></td>
									<td th:text="${u.getRole()}"></td>
									<td><a th:href="@{'/admin/usuarios?codigo='+${u.getId()}}"><i
											class="bi bi-eye-fill"></i></a>a</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>